/* font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

/* common styles */
body {
  font-family: "Poppins", sans-serif;
}
/* Header styles */
header {
  width: 100%;
  height: 677px;
  display: flex;
  align-items: center;
  background-color: #2d25a0;
}
.header-title {
  display: flex;
  flex-direction: column;
  margin-left: 156px;
  margin-top: 207px;
  margin-bottom: 240px;
}
.title {
  width: 485px;
  height: 230px;
  font-size: 64px;
  line-height: 80px;
  margin-bottom: 27px;
  color: white;
}
.header-title a {
  text-decoration: none;
}

.button {
  width: 168px;
  height: 44px;
  padding: 10px 24px;
  color: white;
  background-color: #e02c6d;
  font-size: 16px;
  text-align: center;
  transition-duration: 5s;
}
.button .fas {
  width: 24px;
  height: 24px;
  margin-left: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.button:hover {
  background-color: darkkhaki;
}
.button:active {
  background-color: darkkhaki;
  box-shadow: rgba(46, 56, 8, 0.548);
  transform: rotate(150deg);
}
.header-image {
  width: 556.01px;
  height: 438px;
  margin: 153px 140px 86px 106px;
}
.header-image img {
  width: 100%;
}
/* player and details styles */
.player-details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
  grid-column-gap: 27px;
  width: 330px;
  height: 456px;
  margin-left: 180px;
  margin-right: 210px;
  margin-top: 70px;
}
.player {
  width: 330px;
  height: 474px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  padding-bottom: 35px;
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player img {
  width: 300px;
  height: 256px;
}
.player p {
  width: 300px;
  height: 104px;
  text-align: justify;
  font-size: 16px;
  font-weight: 100;
}
/* feedback form */
#form-section {
  font-size: 20px;
  font-weight: 200;
  margin-top: 1849px;
  margin-bottom: 158px;
  margin-left: 400px;
}
.form-control {
  width: 600px;
  outline: none;
  border: 2px solid black;
  margin-bottom: 5px;
  border-radius: 10px;
  padding: 10px;
}
form button {
  color: white;
  background-color: lightblue;
  border-radius: 5pxs;
  padding: 10px;
  outline: none;
}

/* footer section */
.footer-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 483px;
  height: 213px;
  margin: 170px 481px 60px 475px;
}
.footer-items img {
  width: 483px;
  height: 110px;
}
.footer-items .social-icons {
  width: 170px;
  height: 32px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px;
}
.social-icons .fab {
  color: darkgray;
}
.footer-items p {
  font-size: 18px;
}

/* for mobile device */
@media only screen and (max-width: 688px) {
  /* header section */
  header {
    width: 668px;
    height: 695px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }
  .header-title {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    margin-top: 112px;
    margin-bottom: 2px;
  }
  .title {
    width: 278px;
    height: 138px;
    margin-right: 60px;
    margin-left: 23px;
    font-size: 36px;
    line-height: 50px;
  }
  header .button {
    margin-left: 23px;
  }
  .header-image {
    width: 329px;
    height: 259px;
    margin: 50px 15px 38px 15px;
  }

  /* player section */
  .player-details {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 24px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .player {
    width: 330px;
    height: 474px;
    margin: 15px;
    margin-bottom: 33px;
    padding: 10px 0;
  }

  /* form section */
  .form-control {
    margin-top: 100px;
    margin-left: 60px;
    margin-right: 60px;
  }

  /* footer section */
  .footer-items {
    justify-content: space-between;
    align-items: center;
    width: 484px;
    /* height: 213px; */
    margin: 43px 0px 187px 80px;
  }
  .footer-items img {
    width: 276px;
    /* height: 110px; */
  }
  .footer-items p {
    text-align: left;
    font-size: 18px;
  }
}
